__pycache__/

/data/
/dbg/
.idea
/models/
/tmp/
/easyhec.egg-info
/build/
/tests/
*.so

/third_party/pvnet/dbg/
/third_party/pvnet/lib/csrc/ransac_voting/build/
/third_party/pvnet/dbg/pvnet_forward/00000/images/pred_box.png
/third_party/pvnet/dbg/pvnet_forward/00000/images/pred_kpt2d.png
/third_party/pvnet/dbg/pvnet_forward/00000/images/pred_mask.png

third_party/detectron2/build
third_party/detectron2/detectron2.egg-info
/third_party/detectron2/projects/PointRend/models/
/third_party/detectron2/detectron2/model_zoo/configs
/third_party/detectron2/detectron2/model_zoo/configs/
