loguru
dl_ext
Cython
easydict
gdown
imageio
matplotlib
multipledispatch
PyYAML
tensorboardX
termcolor
tqdm
transforms3d
trimesh
yacs
zarr
sapien
scipy
wis3d
open3d
motion-planning
pyrealsense2
mplib
screeninfo
plyfile
pycocotools
# moveit_commander
# rospy
git+https://github.com/NVlabs/nvdiffrast.git
git+https://github.com/facebookresearch/segment-anything.git

